body{
    background: #E5E5E5;
    
}

.caixa{
    margin: 0 auto;
}

.titulo {
    width: 132px;
    height: 24px;
    margin: 0px 9.26019px;
}

.search{
    margin-left: 3%;
    background: #FFFFFF;
    border: 2px solid #C5D7DD;
    border-radius: 4px;
    height: 20px;
    width: 400px;
}

.filter {
    width: 210px;
    margin-left: 20px;
    padding: 0px;
    background: #FF8F8F;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    height: 20px;
}

.cadastro {
    background: #5B96EF;
    border-radius: 4px;
    width: 215px;
    margin-left: 135px;
    height: 20px;
}

.informações {
    
    height: 25px;
    font-size: 18px;
    text-align: center;

}

header {
    
    padding: 20px 0;
}

.pokedex {
    width: 120px;
}

nav a:hover22222{
    color: #C78C19;
    text-decoration: underline;
}

nav p{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}

.favorite {
    width: 20px;
    height: 18px;
    margin: 10px 145px;
}

.infocardlistpkmnlg{
    grid-template-columns: repeat(auto-fit, max( 206px));
}

.infocardlist{
    width: auto;
    margin-top: 50px;
    display: grid;
    grid-gap: 44px 4px;
}



.infocard {
    height: 321px;
    width: 170px;
    background-color: white;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

.infocard-lg-img{
    display: block;
}

.poke-card{
    height: 272px;
    width: 215px;
    top: 19.94px;
    
}

.Name{
    font-size: 22px;
    font-weight: bold;
}

a {
    color: #0f0f2e;
    text-decoration: none;
}

.Imgpok {
    width: 124px;
    height: 120px;
}

.Type-Grass{
    background: #27CB4F;
    width: 80px;
    height: 24px;
    border-radius: 3.56667px;
    margin: 0px 3.56667px;
}

.Type-Fire {
    background: #FD4C5A;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Water{
    background: #86A9FA;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Bug {
    background: #3B9950;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Poison {
    background: #9B69D9;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Flying {
    background: #93B2C7;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Dark {
    background: #5A5979;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Dragon {
    background: #5ECCD9;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Eletric {
    background: #FBFB72;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Fairy {
    background: #EA1369;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Fighting {
    background: #EF6138;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Ghost {
    background: #906790;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Ground {
    background: #6e491f;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Ice {
    background: #daeff9;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Normal {
    background: #C999A7;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Psychic {
    background: #FB1C91;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Rock {
    background: #8B3E21;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.Type-Steel {
    background: #4ABD94;
    border-radius: 3.56667px;
    width: 80px;
    height: 24px;
    margin: 0px 3.56667px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: green;
}

.produtos li:hover h2 {
    font-size: 15px;
}

.produtos h2 {
    font-size: 12px;
    font-weight: bold;
}

.Type {
    font-size: 12px;
    font-weight: bold;
    color: #f6f8fc;
}

.Number {
    color: rgba(29, 21, 113, 0.4);
    font-size: 16px;
}

